# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/

# Test results
TestResults/
*.trx

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# MSIX / App packages
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
*.appx
*.appxbundle
*.msix
*.msixbundle
*.cer